.wrapper {
}

.container {
  margin: 0 auto;
  max-width: var(--default-layout-width);
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-top: var(--default-layout-header-height);
}
.content {
  flex: 1;
}
