.wrapper {
  // phần header
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  z-index: 10;
}

.inner {
  margin: 0 auto;
  max-width: var(--default-layout-width);
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  display: flex;
}
// Actions
.actions {
  display: flex;
  align-items: center;
  gap: 26px;
}
.text-upload {
  margin-left: 8px;
}
.more-btn {
  font-size: 2rem;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

.button-container {
  display: flex;
  gap: 20px;
}

.plus-icon {
}

// .action-btn {
//   width: 24px;
//   height: 24px;
//   display: block;
//   cursor: pointer;
// }

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.current-user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.badge {
  position: absolute;
  top: 8px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary);
}
//
// .action-upload {
//   min-width: 110px;
//   padding: 0 16px;
//   height: 36px;
//   border: 1px solid rgba(22, 24, 35, 0.12);
//   border-radius: 2px;
//   background-color: transparent;
//   display: flex;
//   align-items: center;
//   font-weight: 600;
//   font-size: 1.7rem;
//   line-height: 24px;
//   color: #161823;
// }
// .plus {
//   margin-right: 8px;
//   font-size: 2rem;
// }
// .action-login {
//   font-weight: 600;
//   font-size: 1.7rem;
//   line-height: 24px;
//   color: #161823;
//   color: rgba(255, 255, 255, 1);
//   background-color: var(--primary);
//   padding: 6px 8px;
//   border-radius: 4px;
//   min-height: 36px;
//   min-width: 100px;
// }

// .dot {
// }
