.global-heading {
  color: rgba(22, 24, 35, 1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;
}

.text-btn {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 24px;
  color: #161823;
}
