// @import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

@font-face {
  font-family: ProximaNova;
  src: url('/assets/Fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/Fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/Fonts/sofiapro-bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: Sofiapro;
  src: url('/assets/Fonts/sofiapro-bold.woff');
  font-weight: 700;
}

:root {
  --primary: rgba(254, 44, 85, 1);
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  --font-family: 'ProximaNova', sans-serif;
  --secondary: rgba(22, 24, 35, 0.34);
  --thirdly: rgba(22, 24, 35, 0.03);
  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-horizontal-spacer: 24px;
  --default-layout-width: 1120px;
  // Search
  --search-button-width: 52px;
  --title: rgba(22, 24, 35, 0.5);
}
