.wrapper {
  height: 60px;
  box-shadow: var(--box-shadow);
}

.inner {
  margin: 0 auto;
  max-width: var(--default-layout-width);
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  width: 361px;
  height: 46px;
  background: rgba(22, 24, 35, 0.06);
  padding-left: 16px;
  border-radius: 92px;
  display: flex;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;
    // appearance: textfield;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--black);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.clear,
.loading {
  // display: none;
  position: absolute;
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.6rem;
  right: calc(var(--search-button-width) + 12px);
  top: 50%;
  transform: translateY(-50%);
}

.line {
  width: 1px;
  height: 28px;
  margin: 7px 0;
  background: rgba(22, 24, 35, 0.12);
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-button-width);
  background: transparent;
  height: 100%;
  font-size: 2.1rem;
  color: rgba(22, 24, 35, 0.75);
  opacity: 0.4;
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.action {
  display: flex;
  gap: 30px;
  align-items: center;
}
.action-upload {
  min-width: 110px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 24px;
  color: #161823;
}
.plus {
  margin-right: 8px;
  font-size: 2rem;
}
.action-login {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 24px;
  color: #161823;
  color: rgba(255, 255, 255, 1);
  background-color: var(--primary);
  padding: 6px 8px;
  border-radius: 4px;
  min-height: 36px;
  min-width: 100px;
}

.dot {
}
